[submodule "Mvvms.MAUI"]
	path = Mvvms.MAUI
	url = https://github.com/riesling-alsace/Mvvms.MAUI.git
[submodule "Mvvms.WPF"]
	path = Mvvms.WPF
	url = https://github.com/riesling-alsace/Mvvms.WPF.git
[submodule "Mvvms.Core"]
	path = Mvvms.Core
	url = https://github.com/riesling-alsace/Mvvms.Core.git
[submodule "Mvvms.Avalonia"]
	path = Mvvms.Avalonia
	url = https://github.com/riesling-alsace/Mvvms.Avalonia.git
